/* list item menu kategori */
@media screen and (max-width: 320px) {
  .headline__title {
    font-size: 19px;
    font-weight: 500;
  }
}

@media screen and (min-width: 320px) {
  .headline__title {
    font-size: 21px;
    font-weight: 500;
  }
}

@media screen and (min-width: 380px) {
  .headline {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 550px) {
  .headline__title {
    font-size: 28px;
    font-weight: 500;
  }
}

@media screen and (min-width: 800px) {
  .headline__title {
    font-size: 32px;
    font-weight: 500;
  }

  .headline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

